body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

#navbar {
  height: 10vh;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#navbar_1 {
  display: flex;
}

#logo_cake {
  font-size: 150px;
}

#footer {
  display: flex;
  height: 10vh;
  justify-content: center;
  align-items: center;
}

#hero {
  height: 80vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
}

#section_form {
  height: 80vh;
}